.filter {
    font-size: 1.6rem;
    display: flex;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px;
}

.filter_clear {
    display: flex;
    gap: 10px;
}

.filter_icon {
    width: 50px;
}
.filter input{
    width: 100%;
}
